.forgot-password-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.forgot-password-form-wrapper{
    min-width: 320px;
    padding: 10px 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-form-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.forgot-password-form-title{
    font-size: 1.5rem;
    display: block;
    font-weight: 700;
}

.forgot-password-form-toggle{
    font-size: .8rem;
    color: var(--grey600);
}

.forgot-password-form-toggle span{
    color: var(--black);
    font-size: .9rem;
    cursor: pointer;
}

.forgot-password-form-toggle span:hover{
    text-decoration: underline;
}

.forgot-password-form{
    height: 100%;
    width: 100%;
}